[submodule "src/pypulseq_interface"]
	path = src/pypulseq_interface
	url = git@schmidt-jo:schmidt-jo/pypulseq_interface.git
[submodule "src/twixtools"]
	path = src/twixtools
	url = git@schmidt-jo:schmidt-jo/twixtools.git
[submodule "src/pygrappa"]
	path = src/pygrappa
	url = git@schmidt-jo:schmidt-jo/pygrappa.git
